.idea
.vscode/
*__pycache__*
*.pyc
*.pth
*.pt
*.dat
*.lnk
*.npz

datasets/
logs/training/
logs/**/*
!logs/calibration/
!logs/calibration/*.json

preprocessing/logs/
training/pretrained/

venv/
.env
.env.*
